html,
body,
header,

*{
    color: white;
}

body{
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.webp")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mask{
    background-color: black;
    /* position: absolute; */
    opacity: 0.7;
    height: 100vh;
}
