<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdEasy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/upload.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="jumbotron text-center p-4 headered">
            <h2>Add a new Student's Image</h2>
          </div>
        </div>
        <div class="col-lg-6 text-center big-form">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
          {% endfor %} {% endif %} {% endwith %}
          <form method="POST" enctype="multipart/form-data" class="form">
            <div class="form-group">
              <input name="image" type='file' id='imageUpload' hidden>
              <input type="hidden" id="facialId" name="faceId">
              <div id='container'>
                <button id="selection">Select an image</button>
                <p>Preview</p>
                <div id='preview' style="width: 500px;"></div>
              </div>
            </div>
            <div class="form-group forming-group">
              <label for="description">Add Roll no. and Name in (12_XYZ) format</label>
              <textarea
                class="form-control"
                id="description"
                name="description"
                rows="4"
                required
              ></textarea>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary m-3">
                Upload Image
              </button>
              <a href="/dashboard/" class="btn btn-primary m-3"
                >Go Home</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </body>
  <!--   Attaching Ajax and SocketIO -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
  <!-- bootstarp JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <!-- Attaching face-api.js file -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/face-api.min.js') }}"></script>
  <!-- Attaching our scripts -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/upload.js') }}"></script>
  
</html>
