<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-control" content="public">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Face Detection</title>
        <!-- Attaching CSS file   -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/video.css') }}">
    </head>

    <body style="background: #2c302d;">
        <video id="video" width="720px" height="560px" controls muted></video>
        
    </body>
    <!--   Attaching Ajax and SocketIO -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <!-- Attaching face-api.js file -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/face-api.min.js') }}"></script>
    <!-- Attaching our scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/video.js') }}"></script>

</html>